:root {
    .o_grid_apps_menu[data-theme="viindoo"] {
        --app-menu-text-color: #374151;
        --apps-menu-scrollbar-background: #374151;
        --apps-menu-empty-search-color: #374151;
    }
}
